@import 'mixins';
@import 'variables';
@import 'reset';

body { 
    font-family: $primary-font;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;}

p {margin: 10px 0px 10px 0px;;}

.melontext {
    color: $melon;
}
header {
    @include orangewhite;
    @include fullwidth;
}
a {
    @include links;
    transition: transform 1s;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}


.recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    box-sizing: border-box;
    div {flex: 1;}
}
.recipe-card {
    @include recipes;
}

#newsletter {
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: $lime;
    padding: 40px;
    box-sizing: border-box;
}
#about {
    @include fullwidth;
    padding: 0px;
    margin: 30px 0px 30px 0px;;
}

#aboutimage {
    border-radius: 10px;
    width: 100%;
}
#aboutimage-container {
    box-sizing: border-box;
    margin: 30px 10px 10px 10px;
    
}
footer {
    background-color:$mint;
    color: white;
    @include fullwidth;
    div {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        a {flex-shrink: 1;
        white-space: nowrap;}
    }
}
button {
    @include orangewhite;
    border: none;
    border-radius: 5px;
    padding: 5px;
    
    &:hover {cursor: $hover;}

}
input {
    @extend button;
    background-color: white;
    color: grey;
    border-style: solid;
    border-color: $melon;
    border-width: 1px;
    width: 100%;
    max-width: 250px;
    margin: 10px;
    box-sizing: border-box;
}
div {
    p {font-weight: bold;}
}
@media (max-width: 800px) {

    .recipes{
        box-sizing: border-box;
        div { flex: 0 1 auto;}
        .recipe-title { width: 100%;}

        .recipe-card {width: 45%;} 
    }
}

@media (max-width: 600px) {
    .recipes {
        box-sizing: border-box;
        div { flex: 0 1 auto;}
        .recipe-title {width: 100%;}
        .recipe-card {
            width: 100%;}
    } 
}